/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/phing.phar
composer.lock
.idea
.DS_Store
.settings
.buildpath
.project
/*templates_c/*
/*cache/*
/wp-content/plugins/yet-another-photoblog/lib/phpThumb-1.7.11/cache
/wp-content/plugins/mobile-smart/includes/cache
/wp-content/plugins/wp-mobile-detector/cache
/wp-content/plugins/wp-piwik/cache
/wp-content/plugins/nextgen-gallery/products/photocrati_nextgen/modules/cache
/wp-content/wptouch-data/cache
/vendor/doctrine/cache
/tmp/cache
/sites/all/modules/panels/plugins/cache
/sites/all/modules/ctools/tests/plugins/cached
/sites/all/modules/ctools/plugins/cache
/sites/all/modules/ctools/page_manager/plugins/cache
/backup*
/stats
.Archived
.errordocs
_db_backups
.hcc.thumbs
/stats
