/* Document specs... */
body {
    font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: whitesmoke;
}

/* a href links decorations... */
a {
    text-decoration: none;
}

a:link, a:visited {
    color: deepskyblue;
}

#reason a:hover {
    color: green;
}

#footer a:link, #footer a:visited {
    color: steelblue;
}

#footer a:hover {
    color: orange !important;
}

a.contact:link, a.contact:visited {
    color: firebrick;
}

a.credits:link, a.credits:visited {
    color: tomato !important;
}

/* Page Layout and background canvas specs... */
#page {
    padding:15px;
    text-align: center;
    margin: 0;
    position: relative;
}

#content {
    content: "";
    top: 0;
    left: 0;
    width: 80%;
    border-radius: 15px;
    border-style: double;
    border-color: darkgrey;
    border-width: thick;
    margin: 10px auto;
    display: block;
    background-color: floralwhite;
    background-size: cover;
    opacity: 1.0;
}

#canvas {
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover;
    text-align: center;
    padding: 0;
    margin: 0;
    display: block;
    overflow: visible;
    z-index: -1;
    opacity: 0.7;
}

/* Translate this page specs... */
#translate {
    margin: .5em 0;
    text-align: center;
    padding: 0;
}

#translate img {
    height: 24px;
    width: auto;
    margin: 0 .5em;
}

/* Column Row specs... */
.row:before, .row:after {
    display: table;
    content: " ";
}

.row {
    margin: 0;
    padding: 0;
}

/* Main Content CENTER column specs... */
#maincol h1, #maincol h3 {
    line-height: 1em;
    padding: 0;
    margin: 0.25em;
}

#reason, #response {
    font-size: 21px;
    font-weight: 200;
}

#response img {
    width: auto;
    height: 300px;
    margin: 6px;
}

#response h1 {
    font-size: 48px;
    font-weight: 300;
}

.package {
    color: firebrick;
    font-size: 1em;
    margin: .5em;
}

.status_code {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

/* LEFT and RIGHT column specs... */
#rightcol, #leftcol {
    margin: 1em;
    padding: .25em;
}

#rightcol ul, #leftcol ul {
    text-align: left;
    text-decoration: none;
    list-style: none;
    text-indent: 5%;
    letter-spacing: 0.05em;
    white-space: nowrap;
    font-variant: small-caps;
    display: inline-table;
    margin: .5em;
    padding: .25em;
}

#rightcol ul li, #leftcol ul li {
    list-style: square;
    font-size: 1.5em;
    line-height: 1.25em;
    color: firebrick;
}

#leftcol ul li.group, #rightcol ul li.group {
    list-style: circle;
    font-size: 1.125em;
}

/* Footer specs... */
#footer {
    clear: both;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    margin: 0;
    padding: .5em 0;
    background-color: rgba(33,33,33,.3);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.center, .left, .right {
    display: inline-block;
    clear: none;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.center {
    width: auto;
}

.left {
    text-align: left;
    width: 15%;
}
.right {
    text-align: right;
    width: 15%;
}

#footer img {
    width: auto;
    height: 32px;
}

/* Code example specs... */
code {
    white-space: nowrap;
    color:greenyellow;
    background-color: black;
    border: double 1px white;
    padding: 3px 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    margin-bottom: 6px;
}

/* Blockquote specs... */
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote:after {
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

/* Form specs... */
#errordiv {
    border: 1px solid red;
    background-color: #FFAFAF;
    display: none;
    width: 50%;
    margin: 5px;
}

.required {
    background-color: #CC4444;
    margin-left: 13px;
    display: inline;
    margin-top: 7px;
}

.required:focus {
    background-color: #fff;
    border: 1px solid #f00;
}

.checkit {
    background-color: #E0E5EF;
    margin-left: 13px;
    display: inline;
    margin-top: 7px;
}

/* Forms */
fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    border: 2px groove threedface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
}

legend {
    display: block;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border: none;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

label {
    cursor: default;
}

#textarea {
    font-family: monospace;
    border-color: rgb(169, 169, 169);
    -webkit-appearance: textarea;
    background-color: white;
    border: 1px solid;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    resize: auto;
    cursor: auto;
    padding: 2px;
}

#problem {
    height: 12em;
    font-size: .6em;
    font-weight: normal;
    font-family: "lucida console", monospace;
}

#message {
    height: 6em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
    -webkit-appearance: textfield;
    padding: 1px;
    background-color: white;
    border: 2px inset;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
}

textarea, keygen, select, button {
    margin: 0em;
    display: block;
    text-align: justify;
    width: 100%;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.3em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    word-wrap: normal;
    white-space: nowrap;
    word-break: normal;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}

#name, #email {
    width: 60%;
    margin: 0.25em .75em;
    font-size: 1.25em;
    font-weight: 500;

}

#robot img {
    text-align: center;
    vertical-align: middle;
}

#keycode {
    width: 25%;
    line-height: 2em;
    font-size: 1.75em;
    font-family: "Courier New", Courier, monospace;
    display: inline-block;
    clear: both;
}

#captcha {
    display: inline-block;
    height: 80px;
    width: auto;
    margin: 0.25em 1.5em;
}

#submit, #cancel {
    height: 80px;
    width: auto;
    display: block;
    margin: 0.25em 5em;
    padding: 0;
}

.inline {
    display: inline-block;
    clear: left;
}

.centered {
    text-align: center;
}
/* Last updated: 2015-10-31 18:50:56 */
